<section>
  <div>
<img src="assets/img/img-sweets/bonibon.jpg" alt="Bonibon">
<article>
  <p>"Драже Bonibon"</p>
  Кольорові драже Bonibon з шоколадною начинкою - справжній хіт 90-х. Їх виробляли в Литві і після розвалу Радянського Союзу успішно
  експортували в країни колишнього СНД. Цукерки користувалися величезною популярністю у дітей, але мало хто з батьків міг часто балувати
  такими цукеркми своїх чад.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/braslets.jpg" alt="Braslets">
<article>
  <p>"Солодкий годинник"</p>
  Одне з найприємніших дитячих спогадів - солодкий браслет з годинником.Літо, тепло, ви з мамою в парку, вона купує цей солодкий годинник і
  ти з захопленням незграбно натягуєш браслет на свою маленьку ручку.Обов'язково жовтий цифровій годинник
  на 8:00 або 7:30.Для мене вони завжди залишаться алегорією дитинства - цукеркова радість, яка дуже швидко закінчується.
  Вони не йдуть і не цокають - застиглий момент щастя.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/chupa-chups.jpg" alt="Chupa-chups">
<article>
  <p>"Чупа-чупс"</p>
  Льодяники Чупа Чупс - найзнаменитіші цукерки на паличці, які вперше з'явилися на світ у 1958 році. Їх творцем вважається потомствений
  кондитер Енрік Бернат, а дизайн і логотип були розроблені великим художником Сальвадором Далі.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/cigarette.jpg" alt="Cigarette">
<article>
  <p>"Жувальні цигарки"</p>
  Багато хлопчаків, та й дівчат, чиє дитинство випало на 90-і, пам'ятають, як сиділи у дворі і «курили» солодку жувальну сигарету.
  У той час це здавалося круто і так по-дорослому, а сигарету потім можна було з'їсти. І плювати, що незабаром жувальні сигарети змінилися
  на справжні.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/gum.jpg" alt="Gum">
<article>
  <p>"Жуйки з вкладишем"</p>
  Памятаєте жуйки типу «Турбо», «Бомбібом», «Бумер» - вони були настільки жорсткими, що жувати їх було абсолютно неможливо.
  Але ми, діти 90-х, їх любили, адже всередині були наклейки або вкладиші!
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/loveis.jpg" alt="Loveis">
<article>
  <p>"Жуйка Love is"</p>
  Яскраві жуйки Love is були улюбленими ласощами не лише дітей, а й дорослих. Незважаючи на те, що вони жахливо псували зуби і витягали
  все пломби, з них виходили найбільші бульбашки, а з фантиків збирали цілі альбоми та активно змінювалися ними.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/theeths.png" alt="Theeths">
<article>
  <p>"Жувальна цукерка зуби вампира"</p>
  А ці жувальні вставні зуби? Хто взагалі це міг придумати, але це було найкраще рішення, щоб відчути себе старим або вампіром.
</article>
  </div>
  <div>
<img src="assets/img/img-sweets/yupi.jpg" alt="Yupi">
<article>
  <p>"Розчинний напій"</p>
  Пам'ятайте порошкові соки «Юпі», «Инвайт» і «Зуко»? Їх розводили у воді, і виходив солодкий напій насиченого кислотного відтінку.
  Не знаю, як інші, але ми з подругами любили з'їдати цей порошок просто так - прямо з пакетика. Після цього язик надовго залишався
  яскраво-жовтим або яскраво-оранжевим, і це було дуже кумедно.
  </article>
  </div>
</section>


