<body>
<div class="wrapper">
  <article class="postcard">
<img src="assets/img/img-sweets/bonibon.jpg" alt="Bonibon">
  <h3>"Драже Bonibon"</h3>
  <p>Кольорові драже Bonibon з шоколадною начинкою - справжній хіт 90-х. Їх виробляли в Литві і після розвалу Радянського Союзу успішно
  експортували в країни колишнього СНД. Цукерки користувалися величезною популярністю у дітей, але мало хто з батьків міг часто балувати
    такими цукеркми своїх чад.</p>
</article>

  <article class="postcard">
   <img src="assets/img/img-sweets/braslets.jpg" alt="Braslets">
    <h3>"Солодкий годинник"</h3>
  <p>Одне з найприємніших дитячих спогадів - солодкий браслет з годинником.Літо, тепло, ви з мамою в парку, вона купує цей солодкий годинник і
  ти з захопленням незграбно натягуєш браслет на свою маленьку ручку.Обов'язково жовтий цифровій годинник
  на 8:00 або 7:30.Для мене вони завжди залишаться алегорією дитинства - цукеркова радість, яка дуже швидко закінчується.
    Вони не йдуть і не цокають - застиглий момент щастя.</p>
</article>

  <article class="postcard">
   <img src="assets/img/img-sweets/chupa-chups.jpg" alt="Chupa-chups">
    <h3>"Чупа-чупс"</h3>
  <p>Льодяники Чупа Чупс - найзнаменитіші цукерки на паличці, які вперше з'явилися на світ у 1958 році. Їх творцем вважається потомствений
    кондитер Енрік Бернат, а дизайн і логотип були розроблені великим художником Сальвадором Далі.</p>
</article>

  <article class="postcard">
  <img src="assets/img/img-sweets/cigarette.jpg" alt="Cigarette">
  <h3>"Жувальні цигарки"</h3>
  <p>Багато хлопчаків, та й дівчат, чиє дитинство випало на 90-і, пам'ятають, як сиділи у дворі і «курили» солодку жувальну сигарету.
  У той час це здавалося круто і так по-дорослому, а сигарету потім можна було з'їсти. І плювати, що незабаром жувальні сигарети змінилися
    на справжні.</p>
</article>

  <article class="postcard">
  <img src="assets/img/img-sweets/gum.jpg" alt="Gum">
  <h3>"Жуйки з вкладишем"</h3>
  <p>Памятаєте жуйки типу «Турбо», «Бомбібом», «Бумер» - вони були настільки жорсткими, що жувати їх було абсолютно неможливо.
    Але ми, діти 90-х, їх любили, адже всередині були наклейки або вкладиші!</p>
</article>

  <article class="postcard">
  <img src="assets/img/img-sweets/loveis.jpg" alt="Loveis">
  <h3>"Жуйка Love is"</h3>
  <p>Яскраві жуйки Love is були улюбленими ласощами не лише дітей, а й дорослих. Незважаючи на те, що вони жахливо псували зуби і витягали
  все пломби, з них виходили найбільші бульбашки, а з фантиків збирали цілі альбоми та активно змінювалися ними.</p>
</article>

  <article class="postcard">
  <img src="assets/img/img-sweets/theeths.jpg" alt="Theeths">
  <h3>"Жувальна цукерка зуби вампира"</h3>
  <p>А ці жувальні вставні зуби? Хто взагалі це міг придумати, але це було найкраще рішення, щоб відчути себе старим або вампіром.</p>
</article>

  <article class="postcard">
    <img src="assets/img/img-sweets/yupi.jpg" alt="Yupi">
  <h3>"Розчинний напій"</h3>
  <p>Пам'ятайте порошкові соки «Юпі», «Инвайт» і «Зуко»? Їх розводили у воді, і виходив солодкий напій насиченого кислотного відтінку.
  Не знаю, як інші, але ми з подругами любили з'їдати цей порошок просто так - прямо з пакетика. Після цього язик надовго залишався
  яскраво-жовтим або яскраво-оранжевим, і це було дуже кумедно.</p>
  </article>
  </div>

<div class="posts">
  <app-post></app-post>
</div>


</body>


