<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
<img class="banner" src="{{img}}" alt="90-s poster">
<nav class="navbar">
  <h1>
    <a routerLinkActive="active" [routerLink]="['create']">Додай свій спогад</a>
  </h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Головна</a>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/fashion']">Мода</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/movie']">Кіно</a></li>
    <li routerLinkActive="active"><a [routerLink]="['sweets']">Солодощі</a></li>
    <li routerLinkActive="active"><a [routerLink]="['toys']">Іграшки</a></li>
  </ul>

</nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>





