@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";




:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-image: url("assets/img/banner.jpg");
  line-height: 1.6;
  color: #333;
  max-width: 100%;
  margin: auto;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

a:hover {
  color: #667;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: black;
  color: #fff;


  ul {
    display: flex;

    li.active a {
      font-weight: bold;
      color: #333333;
      cursor: default;
    }
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
}

@media (min-width: 500px) {
  .posts {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 4px;
  }
}

@media (min-width: 400px) {
  .navbar {
    flex: 1;
  }
}


.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--success-color);
  color: #333;
}




.text-center {
  text-align: center;
}

.card {
  padding: 1rem;
  border: deeppink 1px dotted;
  border-radius: 20px;
  margin: 0.7rem 0;
  background-color: cornsilk;

  &-header {
    align-items: center;
  }

  &-content {
    margin-bottom: .5rem;
  }
}

.form-control {
  display: block;
  color: #888;
  margin-bottom: .8rem;


  &.invalid {
    color: var(--primary-color);
    input {
      border-color: var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}


.searchField input[type='text']{
  display: block;
  width: 90%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px dotted deeppink ;
  border-radius: 15px;
}
input[type='text']{
  display: block;
  width: 97.5%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}


.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;



  &:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
  }
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;

}


.btn:hover {
  opacity: 0.8;
}



























